@using Tesco.ClubcardProducts.MCA.Web.Common.Utilities;
<footer id="page-footer">
    <div class="aspect">
        <ul id="footerlist">
            <li id="liSitemap"><a onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Sitemap']);" href='@Resources.ConfigLinks.SMSitemap' target='@(GeneralUtility.IsExternalLink(Resources.ConfigLinks.SMSitemap) ? "_blank" : "_self")'>Site map</a></li>
            <li id="liContactus"><a onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Contact Us']);" href='@Resources.ConfigLinks.SMContactus' target='@(GeneralUtility.IsExternalLink(Resources.ConfigLinks.SMContactus) ? "_blank" : "_self")'>Contact us</a></li>
            <li id="liHelp"><a onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Help &amp; FAQs']);" href='@Resources.ConfigLinks.SMHelp' target='@(GeneralUtility.IsExternalLink(Resources.ConfigLinks.SMHelp) ? "_blank" : "_self")'>Help &amp; FAQs</a></li>
            <li id="liTerms"><a onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Terms &amp; Conditions']);" href='@Resources.ConfigLinks.SMConditions' target='@(GeneralUtility.IsExternalLink(Resources.ConfigLinks.SMConditions) ? "_blank" : "_self")'>Terms &amp; Conditions</a></li>
            <li id="liPrivacy"><a onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Privacy & Cookies Policy']);" href='@Resources.ConfigLinks.SMYourprivacy' target='@(GeneralUtility.IsExternalLink(Resources.ConfigLinks.SMYourprivacy) ? "_blank" : "_self")'>Privacy &amp; Cookies Policy</a></li>
            <li id="liEmailsignup"><a onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Email sign up']);" href='@Resources.ConfigLinks.SMEmailSignup' target='@(GeneralUtility.IsExternalLink(Resources.ConfigLinks.SMEmailSignup) ? "_blank" : "_self")'>Email sign up</a></li>
            <li id="lilostclubcard"><a onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Lost your Clubcard?']);" href='@Resources.ConfigLinks.SMLostyourClubcard' target='@(GeneralUtility.IsExternalLink(Resources.ConfigLinks.SMLostyourClubcard) ? "_blank" : "_self")'>Lost your Clubcard?</a></li>
            <li id="liTesco"><a onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Tesco.com']);" href='@Resources.ConfigLinks.SMTescocom'>Tesco.com</a></li>
        </ul>
        <p>Copyright &copy; 2015 Tesco.com</p>
    </div>
</footer>