@using Tesco.ClubcardProducts.MCA.Web.Common.Entities.Common;
@using Tesco.ClubcardProducts.MCA.Web.Common.Entities.Preferences;
@using Tesco.ClubcardProducts.MCA.Web.Common.Models;
@using Tesco.ClubcardProducts.MCA.Web.Common;
@using Tesco.ClubcardProducts.MCA.Web.Common.Entities.Settings
@using Tesco.ClubcardProducts.MCA.Web.Common.Entities.DBConfiguration
@using Tesco.ClubcardProducts.MCA.Web.Common.Utilities
@model ContactPreferencesModel

@{
    ViewBag.Title = @Html.Translate("PageTitle");
    ViewBag.dtmTitle = @Html.Translate("dtmPageTitle");
    ViewBag.PageName = "ContactPreferences";
    DbConfigurationItem hideConfig = DBConfigurationManager.Instance[DbConfigurationTypeEnum.HideJoinFunctionality]["HideMarketingPreference"];
    DbConfigurationItem isPrivacyPolicyVisible = DBConfigurationManager.Instance[DbConfigurationTypeEnum.AppSettings]["IsPrivacyPolicyVisibleForPreference"];
}
@section leftNavigation
{
    @Html.Partial("_LeftNavigation", Model)
}

<div class="row">
	<div class="gr-12">
	  <div class='copy-wrapper'>
	    <h1 id="lblheader" class="ddl-h2-like">@Html.Translate("PageHeading")</h1>
			<p id="lblPageDescription">@Html.Translate("PageDescription")</p>
      </div>
	 </div>
</div>
@using (Html.BeginForm("ContactPreferences", "AccountManagement", FormMethod.Post, new { id = "formContactPreferences" }))
{
	@Html.AntiForgeryToken()
	@Html.EditorFor(model => model.ContactPreference, "ContactModel")
	<div class="row">
        <div class="gr-12">
            @if (hideConfig != null && !hideConfig.ConfigurationValue1.Equals("1") && !hideConfig.IsDeleted)
            {
                <div class="ddl-form">
                    <fieldset class="ddl-fieldset">
		                @Html.EditorFor(model => model.OptIns, "OptInsModel") 
                    </fieldset>
                
                    @if (Model.OptIns.IsCustomerJoined)
                    {
                        <input type="submit" value='@Html.Translate("/Shared/EditorTemplates/OptInsModel", "lblConfirm")' name="ConfirmOptins" class="ddl-button" id="btnConfirm" />         
                    }
                    @if ((isPrivacyPolicyVisible != null && isPrivacyPolicyVisible.ConfigurationValue1.Equals("1")) || Model.OptIns.IsCustomerJoined)
                    {
                        <ul class="no-bullet">
						    <li><span class="ddl-standalone-link"><a class="ddl-icon-after ddl-icon-right" href='@Resources.ConfigLinks.groupOptOut' id='aOpt' target='@GeneralUtility.IsExternalLink(Resources.ConfigLinks.groupOptOut) ? "_blank" : "_self"'>@Html.Translate("/Shared/EditorTemplates/OptInsModel","FooterNoteLink")</a></span></li>
                        <li><span class="ddl-standalone-link"><a href='@Resources.ConfigLinks.PHTerms' style="cursor: hand" id="aTnC" target='@GeneralUtility.IsExternalLink(Resources.ConfigLinks.PHTerms) ? "_blank" : "_self"' class="ddl-icon-after ddl-icon-right">@Html.Translate("/Shared/EditorTemplates/OptInsModel", "lblTnC")</a></span></li>
                            @*  @Html.Translate("lblSeparator") *@
                            <li><span class="ddl-standalone-link"><a href='@Resources.ConfigLinks.PHCharter' style="cursor: hand" id="aCustomerCharter" target='@GeneralUtility.IsExternalLink(Resources.ConfigLinks.PHCharter) ? "_blank" : "_self"' class="ddl-icon-after ddl-icon-right">@Html.Translate("/Shared/EditorTemplates/OptInsModel", "lblCustomerCharter")</a></span></li>
                        </ul>
                    }
	            </div> 
                if (Model.OptIns.IsCustomerJoined)
                { 
		            <p class="ddl-t5"> @Html.Translate("/Shared/EditorTemplates/OptInsModel", "lblDesc1")</p>
                    <p class="ddl-t5"> @Html.Translate("/Shared/EditorTemplates/OptInsModel", "lblDesc2")</p>
                 <p id="lblPrefNote" class="ddl-t5">@Html.Translate("/Shared/EditorTemplates/OptInsModel", "FooterNotePref") </p>
                }
              @*   <p id="lblNote"><a href='@Resources.ConfigLinks.groupOptOut' target='@GeneralUtility.IsExternalLink(Resources.ConfigLinks.groupOptOut) ? "_blank" : "_self"'>@Html.Translate("FooterNoteLink")</a>@Html.Translate("FooterNote")</p> *@
            }
		</div>
	</div>			
}  
		
@section scripts
{
   @Scripts.Render("~/bundles/contactpreferences")  
}
