@using Tesco.ClubcardProducts.MCA.Web.Common.Entities.Settings
@using Tesco.ClubcardProducts.MCA.Web.Common
@using Tesco.ClubcardProducts.MCA.Web.Common.Entities.DBConfiguration
@using Tesco.ClubcardProducts.MCA.Web.Common.Entities
@using Tesco.ClubcardProducts.MCA.Web.Common.Models;
@using System.Web.Optimization;

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    @Styles.Render("~/Content/corecss")
    <!-- checking -->
   
    @RenderSection("head", false)
    
</head>
<body>  
    <div id="wrapper" class="scrollable">
                @Html.Partial("_LoadHTML", new LoadHtmlModel { FileName = "~/Content/HTMLs/Header.html" })
        <div id="page-body">
            <div class="aspect cf">
                <div class="l-foxtrot gutters">
                    @RenderBody()
                </div>
            </div>
        </div>
        @Html.Partial("_LoadHTML", new LoadHtmlModel { FileName = "~/Content/HTMLs/Footer.html" })
    </div>
</body>
</html>